<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a class="navbar-brand" href="/">GO RUN</a>
	</div>

	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse collapse">
			<ul class="nav" id="side-menu">
				<li class="sidebar-search">
					<div class="input-group custom-search-form">
						<input type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
					</div>
				</li>
				<li>
					<a href="../schedule"><i class="fa fa-flag fa-fw"></i>경주(전체)</a>
				</li>
				<li>
					<a href="../horseRiding"><i class="fa fa-flag fa-fw"></i>승마장</a>
				</li>
				<li>
					<a href="../horseJockey"><i class="fa fa-flag fa-fw"></i>기수</a>
				</li>
				<li>
					<a href="../horseBreaker"><i class="fa fa-flag fa-fw"></i>조교사</a>
				</li>
				<li>
					<a href="../horseInfoTotal"><i class="fa fa-flag fa-fw"></i>경주마</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-flag fa-fw"></i>적중률 순위 TOP 20</a>
				</li>
			</ul>
		</div>
	</div>
</nav>